<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TourInfo">

    <select id="getTourInfoList" resultType="com.jj.jejuTour.Tour.vo.TourVo">
        SELECT
            @ROWNUM := @ROWNUM + 1 AS ROWNUM
             , tour_place_name
             , DATE_FORMAT(create_dt, '%m-%d %H:%m') as create_dt
        FROM
            (SELECT @ROWNUM := 0 ) RNUM, tour_list
        ORDER BY ROWNUM DESC
    </select>

    <insert id="insertVisitJejuJson" parameterType="com.jj.jejuTour.Tour.vo.TourVo">
        INSERT INTO tour_place_info
        (
            alltag
            , contentscd
            , title
            , region1cd
            , address
            , introduction
            , latitude
            , longitude
            , phoneno
            , imgpath
            , thumbnailpath
            , create_dt
            , delete_yn
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
        (
            #{item.alltag}
            , #{item.contentscd}
            , #{item.title}
            , #{item.region1cd}
            , #{item.address}
            , #{item.introduction}
            , #{item.latitude}
            , #{item.longitude}
            , #{item.phoneno}
            , #{item.imgpath}
            , #{item.thumbnailpath}
            , NOW()
            , 'N'
        )
        </foreach>
        ON DUPLICATE KEY
        UPDATE
            alltag = values(alltag)
            , contentscd = values(contentscd)
            , title = values(title)
            , region1cd = values(region1cd)
            , address = values(address)
            , introduction = values(introduction)
            , latitude = values(latitude)
            , longitude = values(longitude)
            , phoneno = values(phoneno)
            , imgpath = values(imgpath)
            , thumbnailpath = values(thumbnailpath)
            , update_dt = NOW()
    </insert>

</mapper>