<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TourInfo">

    <select id="getTourInfoList" resultType="com.jj.jejuTour.tour.vo.TourVo">
        SELECT
            @ROWNUM := @ROWNUM + 1 AS ROWNUM
             , alltag
             , contentscd
             , title
             , region1cd
             , address
             , introduction
             , phoneno
             , DATE_FORMAT(create_dt, '%Y-%m-%d %H:%m') as create_dt
             , DATE_FORMAT(update_dt, '%Y-%m-%d $H:%m') as update_dt
        FROM
            (SELECT @ROWNUM := 0 ) RNUM, tour_place_info
        WHERE
            delete_yn = 'N'
        ORDER BY create_dt ASC
        LIMIT #{start} , #{length}
    </select>
    <select id="getTourInfoListCount" resultType="int">
        SELECT
            COUNT(title)
        FROM
            tour_place_info
        WHERE
            delete_yn = 'N'
    </select>

    <insert id="insertTourPlaceInfo" parameterType="com.jj.jejuTour.tour.vo.TourVo">
        INSERT INTO tour_place_info
        (
            alltag
            , contentscd
            , title
            , region1cd
            , address
            , introduction
            , latitude
            , longitude
            , phoneno
            , imgpath
            , thumbnailpath
            , create_dt
            , delete_yn
        )
        VALUES
        (
            #{alltag}
            , #{contentscd}
            , #{title}
            , #{region1cd}
            , #{address}
            , #{introduction}
            , #{latitude}
            , #{longitude}
            , #{phoneno}
            , #{imgpath}
            , #{thumbnailpath}
            , NOW()
            , 'N'
        )
        ON DUPLICATE KEY
        UPDATE
            alltag = values(alltag)
            , contentscd = values(contentscd)
            , title = values(title)
            , region1cd = values(region1cd)
            , address = values(address)
            , introduction = values(introduction)
            , latitude = values(latitude)
            , longitude = values(longitude)
            , phoneno = values(phoneno)
            , imgpath = values(imgpath)
            , thumbnailpath = values(thumbnailpath)
            , update_dt = NOW()
    </insert>



</mapper>